.header{
	text-align: center;
}

div{
	border: 2px dashed black;
}

#chartArea {
	height: 600px;
	width: 98%;
	margin: 0 auto;
}

#button-box {
	text-align: center;
	height: 75px;
}

.btn{
	border-radius: 2px;
	display: inline;
	height: 50px;
	background-color: grey;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;

}

.btn:hover{
	background-color: orange;
}